# [ Intermediate by-products ]
.DS_Store
.idea/
__pycache__/

# [ Folders ]
dependency/
data/
data

# (2018. 8. 21.) "data" (not "data/") has been added to deal with symbolic link file.

# [ etc. ]
*.Rproj
*.Rproj.user
*.Rhistory
*.ipynb_checkpoints/
*.pversion
*.ipynb
*.sh
